# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exports so installing via AssetLib is easier.
.gitattributes                                          export-ignore
.github                                                 export-ignore
.gitignore                                              export-ignore

